@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600..700&display=swap');


*{
  margin: 0;
  padding: 0;
}

.btn{
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background: #de3448;
  color: white;
  box-shadow: 5px 10px 8px rgb(90, 88, 88);
  font-size: 20px;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

#counter{
  box-shadow: 5px 5px 10px rgb(102, 98, 98);
  border-radius: 90px;
  border: 8px solid rgb(52, 48, 48);
  padding: 50px 70px 50px 70px;
  background:linear-gradient(to right,#ad1f30,#e21d8d
  );
  font-size: 60px;
  color: white;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: pink;
  height: 720px;
}

#rstBtn{
  border-radius: 60px;
  padding: 25px 17px 25px 17px;
  background: #d0142a;
  color: white;
  font-weight: bold;
  border: 3px solid black
}